<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Form Screen</title>
</head>
<body>
    <form action="http://localhost:8080/hello/form-post-handle2" method="post">
        <p>
            <label for="name">이름</label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email">
        </p>
        <p>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password">
        </p>
        <button type="submit">회원가입 완료</button>
    </form>
</body>
</html>